#
# This is the config file, and
# a '#' or ';' character indicates a comment
#

[user]
	email = vetalapo@gmail.com
	name = Vitaly Dushkin

[core]
	autocrlf = false
	fscache = true
	symlinks = false

[help]
	autocorrect = 1
